pipeline/Data_reconcilation.json
{
	"name": "Data_reconcilation",
	"properties": {
		"activities": [
			{
				"name": "Staging",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "stg_ds",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.tableName_pl",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "landing_ds",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat(pipeline().parameters.fileName_pl,'-',utcnow(),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "If Rows equal",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('backup').output.rowsRead,activity('backup').output.rowsCopied)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Rows not equal",
								"errorCode": "555"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Load Staing data to DW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "landing_ds",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@pipeline().parameters.fileName_pl",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "stg_ds",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@pipeline().parameters.tableName_pl",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "send mail",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Load Staing data to DW",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-42.southeastasia.logic.azure.com:443/workflows/5f71071d8af044b5b1003d07cc26c937/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8VJNftQyZxp6SgfowLHEQGkAZ8-n4ED3-xroz6XAnpU",
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"body": {
									"value": "{\n    \"title\": \"Pipeline Staging DW finish\",\n    \"message\": \"Successfully, rows equal\",\n    \"RowsRead\":\"@{activity('Copy data to SQL').output.rowsRead}\",\n    \"RowsCopied\": \"@{activity('Copy data to SQL').output.rowsCopied}\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcNow()}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fileName_pl": {
				"type": "string"
			},
			"tableName_pl": {
				"type": "string"
			}
		},
		"variables": {
			"temp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-28T08:48:08Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}